<div id="container">
  <div class="Name-Page">
    <img src="/assets/image/namePage.jpg" alt="">
    <h1 class="Name">Liên hệ</h1>
  </div>
  <div class="Frame">
    <div class="List-Funtions">
      <a href="Home.html">Trang chủ</a>
      <p>/</p>
      <a href="Product.html">Liên hệ</a>
    </div>
  </div>
  <section id="content">
    <div class="frame-content">
      <div class="map">
        <div class="frame-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2156930380265!2d106.78957711428761!3d10.871192760411212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRwLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1635339763276!5m2!1svi!2s"
                  width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="input-icon">
        <div class="frame">
          <div class="input">
            <div class="title">
              <h2 style="margin-top: 20px">Để lại đánh giá của bạn</h2>
            </div>
            <div class="frame-input1">
              <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
              <p>Nhận xét về trang của chúng tôi.</p>
            </div>
            <div class="frame-input2">
              <div class="input2">
                <input type="text"placeholder="Enter your name">
                <p>Vui lòng nhập họ tên của bạn.</p>
              </div>
              <div class="input2" style="margin-left: 10px">
                <input type="text" placeholder="Enter email address">
                <p>Vui lòng nhập email của bạn.</p>
              </div>
            </div>
            <div class="frame-input3">
              <div class="input3">
                <input type="text" placeholder="Enter subject" style="border: 1px solid #e5e6e9;
                                                                                                          border-radius: 0px;
                                                                                                          height: 48px;
                                                                                                          width: 770px;
                                                                                                          padding-left: 18px;
                                                                                                          font-size: 13px;outline: none;">
                <p>Chủ đề của bạn.</p>
              </div>
            </div>
            <div class="button" style="margin-top: 30px">
              <button type="submit" class="button-submit" (click)="reload()">SEND</button>
            </div>
          </div>
          <div class="icon">
            <div class="frame-icon">
              <div class="element-icon">
                <i class="fas fa-home"></i>
                <div>
                  <p>Đại học Nông Lâm</p>
                  <p style="color: #8f8e8e">TP HCM</p>
                </div>
              </div>
              <div class="element-icon">
                <i class="fas fa-mobile-alt"></i>
                <div>
                  <p>0901197448</p>
                  <p style="color: #8f8e8e">Thứ 2-Thứ 6,9am-6pm.</p>
                </div>
              </div>
              <div class="element-icon">
                <i class="fas fa-envelope"></i>
                <div>
                  <p>news@gmai.com</p>
                  <p style="color: #8f8e8e">Gửi cho chúng tôi bất kì lúc nào!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
