<div class="Name-Page">
  <img src="/assets/image/namePage.jpg" alt="">
  <h1 class="Name">Giỏ hàng</h1>
</div>
<div class="Frame">
  <div class="List-Funtions">
    <a routerLink="/" routerLinkActive="active">Trang chủ</a>
    <p>/</p>
    <a hrouterLink="/cart" routerLinkActive="active">Giỏ hàng</a>
  </div>
</div>
<div class="cart-section mt-150 mb-150">
  <div class="container">
    <!-- =====  BANNER STRAT  ===== -->

    <!-- =====  BREADCRUMB END===== -->
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
          <table class="cart-table">
            <thead class="cart-table-head">
            <tr class="table-head-row">
              <th class="product-remove"></th>
              <th class="product-image">Ảnh minh họa</th>
              <th class="product-name">Tên</th>
              <th class="product-price">Giá</th>
              <th class="product-quantity">Số lượng</th>
              <th class="product-total">Tổng cộng</th>
            </tr>
            </thead>
            <tbody  *ngFor="let item of products; let i = index">
            <tr class="table-body-row">
              <td class="product-remove"><a (click)="removeItem(item)"><i class="far fa-window-close"></i></a></td>
              <td class="product-image"><img src="{{item.img}}" alt=""></td>
              <td class="product-name">{{item.name}}</td>
              <td class="product-price">{{item.rate}} VNĐ</td>
              <td class="product-quantity"><input type="number" [(ngModel)]="item.num"  placeholder="{{item.num}}" (ngModelChange)="modelChanged(item)"></td>
              <td class="product-total">{{getTotalPriceEeachProduct(item)}} VNĐ</td>
            </tr>
            </tbody>
            <tbody >
            <tr *ngIf="products.length ==0" class="table-body-row">
              <td colspan="6" style="color: red">không có sản phẩm trong giỏ hàng!</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total-section">
          <table class="total-table">
            <thead class="total-table-head">
            <tr class="table-total-row">
              <th>Tất cả</th>
              <th>Giá</th>
            </tr>
            </thead>
            <tbody>
            <tr class="total-data">
              <td><strong>Tạm tính: </strong></td>
              <td>{{getTotalMoneyCart()}} VNĐ</td>
            </tr>
            <tr class="total-data">
              <td><strong>Phí ship: </strong></td>
              <td>{{getFeeShip()}} VNĐ</td>
            </tr>
            <tr class="total-data">
              <td><strong>Tổng cộng: </strong></td>
              <td>{{getTotalFinalFee()}} VNĐ</td>
            </tr>
            </tbody>
          </table>
          <div class="cart-buttons">
            <a routerLink="/products" routerLinkActive="active" class="boxed-btn">Tiếp tục mua</a>
            <a routerLink="/pay" routerLinkActive="active" class="boxed-btn black">Đặt hàng</a>
          </div>
        </div>
        <div class="coupon-section">
          <h3>Sử dụng mã giảm giá</h3>
          <div class="coupon-form-wrap">
            <form action="index.html">
              <p><input type="text" placeholder="Coupon"></p>
              <p><input type="submit" value="Apply"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
