<footer>
  <div class="Information">
    <div class="Frame">
      <div class="Title">
        <h1>Liên lạc</h1>
      </div>
      <div class="Address">
        <h2>
          <i class="fa-solid fa-location-dot"></i>
          Địa chỉ:
        </h2>
        <p>Linh Trung, Thủ Đức, TP.HCM.</p>
      </div>
      <div class="Numberphone">
        <h2>
          <i class="fa-solid fa-phone"></i>
          Đường dây nóng:
        </h2>
        <p>0123456789</p>
      </div>
      <div class="Email">
        <h2>
          <i class="fa-solid fa-envelope"></i>
          Email:
        </h2>
        <p>ClockShop@gmail.com.</p>
      </div>
    </div>
    <div class="Frame">
      <div class="Title"><h1>Fanpage</h1></div>
      <div>
        <ul class="icon">
          <li class="nav-item">
            <a class="nav-link text-body" href="https://twitter.com/"><small class="fab fa-twitter"></small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="https://www.facebook.com/"><small class="fab fa-facebook-f"></small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="https://www.instagram.com/"><small class="fab fa-instagram"></small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="https://www.youtube.com/"><small class="fab fa-youtube"></small></a>
          </li>
        </ul>
      </div>
      <div>
        <h1>Lưu ý</h1>
        <p>
          Theo dõi shop trên các nền tảng mạng <br>
          xã hôi để biết thêm những thông báo <br>
          mới sớm nhất.
        </p>
      </div>
    </div>
    <div class="Frame">
      <h1>Thành viên nhóm</h1>
      <p>19130026 - Lưu Hải ĐĂNG.</p>
      <p>19130094 - Trần Quang Khải.</p>
      <p>19130089 - Nguyễn Trịnh Khánh Huy.</p>
    </div>
  </div>
</footer>
