
<div id="Product-Detail" >
  <div class="Name-Page">
    <img src="/assets/image/namePage.jpg" alt="">
    <h1 class="Name">Chi Tiết Sản Phẩm</h1>
  </div>
  <div class="Frame">
    <div class="List-Funtions">
      <a href="Home.html">Trang chủ</a>
      <p>/</p>
      <a href="Product.html">Sản phẩm</a>
    </div>

  </div>
  <div class="Frame">
    <div class="Infor-Product" >
      <div class="Img-Product">
        <img src="{{products?.img}}" alt="">
      </div>
      <div class="Infor">
        <h5>{{products?.name}}</h5>
        <p>Đã bán: {{products?.sold}}</p>
        <p>Mã Số Sản Phẩm: {{products?.product_code}}</p>
        <p>Giá: {{products?.rate}}</p>
        <p>{{products?.describe_product}}</p>
        <h4 class="Button" (click)=addtocart(products)>Thêm vào giỏ hàng</h4>
      </div>
    </div>
  </div>
  <div class="Frame">
    <div class="Infor-Describe">
      <div class="Infor">
        <h1>Mô tả:</h1>
        <p>Thương hiệu: {{products?.trademark}}</p>
        <p>Xuất sứ: {{products?.origin_product}}</p>
        <p>Kính: {{products?.glasses}}</p>
        <p>Máy: {{products?.machine}}</p>
        <p>Bảo Hành: {{products?.insurance}}</p>
        <p>Đường Kính Mặt Số: {{products?.dial_diameter}}</p>
        <p>Bề Dày Mặt Số: {{products?.dial_thickness}}</p>
        <p>Dây Đeo: {{products?.strap}}</p>
        <p>Màu Mặt Số: {{products?.dial_color}}</p>
        <p>Chống Nước: {{products?.waterproof}}</p>
        <p>Nơi sản xuất (Tùy từng lô hàng): {{products?.where_production}}</p>
      </div>
      <div class="Interactive">
        <div class="Share">
          <div><h1>Theo dõi:</h1></div>
          <div class="icon-share">
            <i class="fab fa-facebook-f" style="padding: 5px 13px;background: blue;"></i>
          </div>
          <div class="icon-share">
            <i class="fab fa-twitter" style="background: #31d2f2"></i>
          </div>
          <div class="icon-share">
            <i class="fab fa-instagram" style="background: #40524b"></i>
          </div>
          <div class="icon-share" >
            <i class="fab fa-youtube" style="background: #fa0606;padding: 5px 7px"></i>
          </div>
        </div>
        <app-comment
          submitLabel="Write"
          (handleSubmit)="addComment({text:$event,parentID:null})"
        ></app-comment>
      </div>

    </div>
  </div>
</div>
