<div id="thongTin">
  <div id="from-quanLi">
    <div class="quanLi">
      <div class="menu">
        <h3>Quản lí tài khoản</h3>
      </div>
      <div class="box-menu">
        <div  class="item-menu">
          <input routerLink="/user-profile" routerLinkActive="active" type="button" value="Thông tin tài khoản">
        </div>
        <div class="item-menu-2">
          <input  type="button" value="Đổi mật khẩu">
        </div>
      </div>
    </div>
  </div>

  <div id="from-thongTin">
    <div class="heading">
      <h2 class="from-heading">ĐỔI MẬT KHẨU</h2>
    </div>
    <div class="from-avatar">
      <div class="box-from">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="from">
            <label class="text">Mật khẩu cũ:</label>
            <input class="from-input" type="password" formControlName="old_password" required>
          </div>
          <div class="from">
            <label class="text">Mật khẩu mới:</label>
            <input class="from-input" type="password" formControlName="new_password" required>
          </div>
          <div class="from">
            <label class="text">Nhập lại mật khẩu mới:</label>
            <input class="from-input" type="password" formControlName="confirm_password" required>
          </div>
          <div class="btn-capNhat">
            <button type="submit">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>







