<div id="Pay">
  <div class="Name-Page">
    <img src="/assets/image/namePage.jpg" alt="">
    <h1 class="Name">Thanh Toán</h1>
  </div>
  <div class="Frame">
    <div class="List-Funtions">
      <a href="Home.html">Trang chủ</a>
      <p>/</p>
      <a href="Product.html">Sản phẩm</a>
    </div>
  </div>
  <div class="Frame">
    <div class="Frame-Element">
      <div class="Infor-Input">
        <div class="Frame-pay">
          <div class="Title">
            <h1>Thanh toán và giao hàng</h1>
          </div>
          <div class="Infor-Customer">
            <p>Họ tên:</p>
            <input type="text" value="{{hoten}}">
            <p>Số điện thoại: </p>
            <input type="text" value="{{sdt}}">
            <p>Tỉnh/Thành phố:</p>
            <input type="text" value="{{thanhpho}}">
            <p>Quận/Huyện:</p>
            <input type="text" value="{{huyen}}">
            <p>Phường/Xã:</p>
            <input type="text" value="{{xa}}">
            <p>Địa chỉ nhận hàng:</p>
            <input type="text" value="{{diachi}}">
          </div>
        </div>
      </div>
      <div class="Product">
        <div class="Frame-Product">
          <div class="Title-Product">
            <h2>Đơn hàng của bạn:</h2>
          </div>
          <div class="Product-Element" *ngFor="let item of products; let i = index">
            <img src="{{item.img}}" alt="">
            <div class="Infor-Product">
              <p class="Name-Product">{{item.name}}</p>
              <p class="Price" style="float: right">x{{item.num}}</p>
              <p class="Price" style="float: right">{{item.rate}} VNĐ</p>
            </div>
          </div>
          <div class="Money-Element">
            <div class="Money">
              <p>Tổng tiền sản phẩm:</p>
              <p class="Price">{{getTotalMoneyCart()}} VNĐ</p>
            </div>
            <div class="Money">
              <p>Phí giao hàng:</p>
              <p class="Price">{{getFeeShip()}} VNĐ</p>
            </div>
          </div>
          <div class="Total-Money">
            <div class="Money">
              <p>Tổng tiền:</p>
              <p class="Price">{{getTotalFinalFee()}} VNĐ</p>
            </div>
          </div>
          <div class="Button" routerLink="/order-confirmed" routerLinkActive="active"  (click)="order()">
            <p>Đặt hàng</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
