<!-- =====  CONTAINER START  ===== -->

<div class="container">
  <div class="row ">
    <!-- =====  BANNER STRAT  ===== -->
    <div class="col-sm-12">
      <div class="breadcrumb ptb_20">
        <h1>{{title}}</h1>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/blogs" routerLinkActive="active">blogs</a></li>
          <li class="active">{{title}}</li>
        </ul>
      </div>
    </div>
    <!-- =====  BREADCRUMB END===== -->
    <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
      <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
        <div class="nav-responsive">
          <div class="heading-part">
            <h2 class="main_title">Top category</h2>
          </div>
          <ul class="nav  main-navigation collapse in">
            <li> <a > Thiết bị </a> </li>
            <li> <a > Điện thoại Di động </a> </li>
            <li> <a > Máy tính bảng & phụ kiện </a> </li>
            <li> <a > Điện tử Gia dụng </a> </li>
            <li> <a > Máy tính & Mạng </a> </li>
            <li> <a > Điện & Dụng cụ </a> </li>
            <li> <a > Trang phục </a> </li>
            <li> <a > Túi & Giày </a> </li>
            <li> <a > Đồ chơi & Sở thích </a> </li>
            <li> <a > Đồng hồ & Trang sức </a> </li>
            <li> <a > Nhà và Vườn </a> </li>
            <li> <a > Sức khỏe & Sắc đẹp </a> </li>
            <li> <a > Ngoài trời & Thể thao </a> </li>
          </ul>
        </div>
      </div>
      <div class="left_banner left-sidebar-widget mt_30 mb_40"> <a ><img src="assets/image/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
    </div>
    <div class="col-sm-8 col-lg-9 mtb_20">
      <div class="row">
        <div class="blog-item listing-effect col-md-12 mb_50">
          <div class="post-format">
            <div class="thumb post-img"><a href="assets/image/blog/blog_img_01.jpg" title="Beautiful Lady"> <img src="{{img}}"  alt="themini"></a></div>
            <div class="post-type"> <i class="fa fa-picture-o" aria-hidden="true"></i> </div>
          </div>
          <div class="post-info mtb_20" >
            <h2 class="mb_10"> <a>{{title}}</a> </h2>
            <p>{{startDetail}}</p>
          </div>
          <blockquote>{{content}}</blockquote>
          {{endDetail}}
          <div class="details mtb_20">
            <div class="date"> <i class="fa fa-calendar" aria-hidden="true"></i>{{date}} </div>
          </div>
          <div class="author-about mt_50">
            <h3 class="author-about-title">Tác giả</h3>
            <div class="author mtb_30">
              <div class="author-avatar"> <img alt="" src="assets/image/user1.jpg"></div>
              <div class="author-body">
                <h5 class="author-name"><a >{{author}}</a></h5>
                <div class="author-content mt_10">{{des}}</div>
              </div>
            </div>
          </div>
          <div id="comments" class="comments-area mt_50">
            <h3 class="comment-title">3 Bình luận</h3>
            <ul class="comment-list mt_30">
              <li class="comment">
                <hr>
                <article class="comment-body mtb_20">
                  <div class="comment-avatar"> <img alt="" src="assets/image/user2.jpg"> </div>
                  <div class="comment-main">
                    <h5 class="author-name"> <a href="" class="comment-name">Radley Lobortis</a> <small class="comment-date">8 ngày</small> </h5>
                    <div class="comment-reply pull-right"> <a ><i class="fa fa-reply" aria-hidden="true"></i> Phản hồi</a> </div>
                    <div class="comment-content mt_10">{{title}}</div>
                  </div>
                </article>
                <hr>
                <ol class="children">
                  <li class="comment">
                    <article class="comment-body mtb_20">
                      <div class="comment-avatar"> <img alt="" src="assets/image/user3.jpg"> </div>
                      <div class="comment-main">
                        <h5 class="author-name"> <a href="" class="comment-name">Lobortis Radley</a> <small class="comment-date">7 ngày</small> </h5>
                        <div class="comment-reply pull-right"> <a ><i class="fa fa-reply" aria-hidden="true"></i> Phản hồi</a> </div>
                        <div class="comment-content mt_10">{{title}}</div>
                      </div>
                    </article>
                  </li>
                </ol>
              </li>
              <li class="comment">
                <hr>
                <article class="comment-body mtb_20">
                  <div class="comment-avatar"> <img alt="" src="assets/image/user1.jpg"> </div>
                  <div class="comment-main">
                    <h5 class="author-name"> <a  class="comment-name">{{author}} </a> <small class="comment-date">8 ngày</small> </h5>
                    <div class="comment-reply pull-right"> <a ><i class="fa fa-reply" aria-hidden="true"></i> Phản hồi</a> </div>
                    <div class="comment-content mt_10">{{des}}</div>
                  </div>
                </article>
              </li>
            </ul>
            <div class="leave-form">
              <h3 class="comment-title mt_50 mb_30" id="reply-title">Viết comment</h3>
              <!-- Comment Form -->
              <div class="form-style" id="contact_form">
                <div id="contact_results"></div>
                <div class="row">
                  <form id="contact_body" method="post">
                    <div class="col-sm-6">
                      <input class="full-with-form" type="text" name="name" placeholder="Tên" data-required="true" />
                    </div>
                    <div class="col-sm-6">
                      <input class="full-with-form" type="email" name="email" placeholder="Địa chỉ email" data-required="true" />
                    </div>
                    <div class="col-sm-12 mt_30">
                      <textarea class="full-with-form" name="message" placeholder="Nội dung" data-required="true"></textarea>
                    </div>
                    <div class="col-sm-6">
                      <button class="btn mt_30" type="submit">Comment</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Comment Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Single Blog  -->
<!-- End Blog   -->
<!-- =====  CONTAINER END  ===== -->
